<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <title>Login</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    

</head>
<body>

    <div class="login-container">
        <h2>Iniciar sesión</h2>

        <form method="POST" class="login-form">
            <label for="usuario">Usuario</label>
            <input id="usuario" name="usuario" required>

            <label for="contrasena">Contraseña</label>
            <input id="contrasena" type="password" name="contrasena" required>

            <button type="submit">Entrar</button>
        </form>

        <p class="register-link">
            ¿No tienes cuenta?
            <a href="{{ url_for('registro') }}">Registrarme</a>
        </p>
    </div>

</body>
</html>
